<template>
  <div class="wrap">
    <my-nav></my-nav>
    <my-article></my-article>
  </div>
</template>

<script>
import MyNav from "./nav";
import MyArticle from "./article";
export default {
  components: {
    MyNav,
    MyArticle
  }
};
</script>

<style scoped>
.wrap {
  display: flex;
  margin: 0 auto;
  padding: 2%;
  max-width: 1120px;
  padding-left: 2em;
  padding-right: 2em;
  background: #fff;
}

@media screen and (max-width: 860px) {
  .wrap {
    flex-direction: column-reverse;
  }
}
</style>

