<template>
    <div class="content">
        <span class="top">
            You are here: <router-link tag="span" to="/" class="step">Home</router-link> » <span class="step">{{this.$route.name}}</span> » {{article&&article.title?article.title.rendered:'--'}}
        </span>
        <div class="article" v-html="article&&article.content&&article.content.rendered?article.content.rendered:null"></div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      article: ""
    };
  },
  created() {
    this.loadArticle();
    // console.log(this.$route.name);
  },
  methods: {
    loadArticle() {
      this.$api
        .get(`/wp-json/wp/v2/posts/${this.$route.params.id}`)
        .then(resp => {
          this.article = resp.data;
        });
    }
  },
  watch: {
    $route() {
      this.loadArticle();
    }
  }
};
</script>

<style scoped>
.content {
  width: 76%;
}

.top {
  display: block;
  text-align: right;
  /* flex-direction: row-reverse; */
  font-size: 12px;
  color: #666;
  line-height: 30px;
  padding: 10px 0;
  border-bottom: 1px solid #f3f3f3;
}

.article {
  margin: 0 auto;
  padding: 0;
  width: 96%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2%;
  font-family: Arial;
  font-size: 13px;
  color: #666;
  text-align: left;
  text-decoration: none;
  line-height: 30px;
}

@media screen and (max-width: 740px) {
  .content {
    width: 96%;
  }
}
</style>