@keyframes fade-in {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes editor_region_focus {
  0% {
    box-shadow: inset 0 0 0 0 #33b3db
  }

  to {
    box-shadow: inset 0 0 0 4px #33b3db
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(1turn)
  }
}

.wp-block-audio figcaption {
  margin-top: .5em;
  color: #6c7781;
  text-align: center;
  font-size: 13px
}

.editor-block-list__layout .reusable-block-edit-panel {
  align-items: center;
  background: #f8f9f9;
  color: #555d66;
  display: flex;
  flex-wrap: wrap;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 13px;
  position: relative;
  top: -14px;
  margin: 0 -28px -14px;
  padding: 8px 28px
}

.editor-block-list__layout .editor-block-list__layout .reusable-block-edit-panel {
  margin: 0 -14px;
  padding: 8px 14px
}

.editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__spinner {
  margin: 0 5px
}

.editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__info {
  margin-right: auto
}

.editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__label {
  margin-right: 10px;
  white-space: nowrap;
  font-weight: 600
}

.editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__title {
  flex: 1 1 100%;
  font-size: 14px;
  height: 30px;
  margin: 5px 0 10px
}

.editor-block-list__layout .reusable-block-edit-panel .components-button.reusable-block-edit-panel__button {
  margin: 0 5px 0 0
}

@media (min-width:960px) {
  .editor-block-list__layout .reusable-block-edit-panel {
    flex-wrap: nowrap
  }

  .editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__title {
    margin: 0
  }

  .editor-block-list__layout .reusable-block-edit-panel .components-button.reusable-block-edit-panel__button {
    margin: 0 0 0 5px
  }
}

.editor-block-list__layout .reusable-block-indicator {
  background: #fff;
  border-left: 1px dashed #e2e4e7;
  color: #555d66;
  border-bottom: 1px dashed #e2e4e7;
  top: -14px;
  height: 30px;
  padding: 4px;
  position: absolute;
  width: 30px;
  right: -28px
}

.editor-block-list__layout .editor-block-list__layout .reusable-block-indicator {
  right: -14px
}

.wp-block-button {
  margin-bottom: 1.5em
}

.wp-block-button .wp-block-button__link {
  border: none;
  border-radius: 23px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 11px 24px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  word-break: break-all
}

.wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0
}

.wp-block-button.aligncenter {
  text-align: center
}

.wp-block-button.alignright {
  text-align: right
}

.wp-block-button__link:not(.has-background),
.wp-block-button__link:not(.has-background):active,
.wp-block-button__link:not(.has-background):focus,
.wp-block-button__link:not(.has-background):hover {
  background-color: #32373c
}

.wp-block-button.is-style-outline .wp-block-button__link {
  background: transparent;
  border: 2px solid transparent
}

.wp-block-button.is-style-outline .wp-block-button__link.has-pale-pink-background-color {
  border-color: #f78da7
}

.wp-block-button.is-style-outline .wp-block-button__link.has-vivid-red-background-color {
  border-color: #cf2e2e
}

.wp-block-button.is-style-outline .wp-block-button__link.has-luminous-vivid-orange-background-color {
  border-color: #ff6900
}

.wp-block-button.is-style-outline .wp-block-button__link.has-luminous-vivid-amber-background-color {
  border-color: #fcb900
}

.wp-block-button.is-style-outline .wp-block-button__link.has-light-green-cyan-background-color {
  border-color: #7bdcb5
}

.wp-block-button.is-style-outline .wp-block-button__link.has-vivid-green-cyan-background-color {
  border-color: #00d084
}

.wp-block-button.is-style-outline .wp-block-button__link.has-pale-cyan-blue-background-color {
  border-color: #8ed1fc
}

.wp-block-button.is-style-outline .wp-block-button__link.has-vivid-cyan-blue-background-color {
  border-color: #0693e3
}

.wp-block-button.is-style-outline .wp-block-button__link.has-very-light-gray-background-color {
  border-color: #eee
}

.wp-block-button.is-style-outline .wp-block-button__link.has-cyan-bluish-gray-background-color {
  border-color: #abb8c3
}

.wp-block-button.is-style-outline .wp-block-button__link.has-very-dark-gray-background-color {
  border-color: #313131
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background),
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):active,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):focus,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):hover {
  border-color: #32373c
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):active,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover {
  color: #32373c
}

.wp-block-button__link:not(.has-text-color),
.wp-block-button__link:not(.has-text-color):active,
.wp-block-button__link:not(.has-text-color):focus,
.wp-block-button__link:not(.has-text-color):hover {
  color: #fff
}

.wp-block-categories.alignleft {
  margin-right: 2em
}

.wp-block-categories.alignright {
  margin-left: 2em
}

.wp-block-columns {
  display: flex
}

.wp-block-column {
  flex: 1
}

.wp-block-cover-image {
  position: relative;
  background-size: cover;
  background-position: 50%;
  min-height: 430px;
  width: 100%;
  margin: 0 0 1.5em;
  display: flex;
  justify-content: center;
  align-items: center
}

.wp-block-cover-image.has-left-content {
  justify-content: flex-start
}

.wp-block-cover-image.has-left-content .wp-block-cover-image-text,
.wp-block-cover-image.has-left-content h2 {
  margin-left: 0;
  text-align: left
}

.wp-block-cover-image.has-right-content {
  justify-content: flex-end
}

.wp-block-cover-image.has-right-content .wp-block-cover-image-text,
.wp-block-cover-image.has-right-content h2 {
  margin-right: 0;
  text-align: right
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image h2 {
  color: #fff;
  font-size: 2em;
  line-height: 1.25;
  z-index: 1;
  margin-bottom: 0;
  max-width: 610px;
  padding: 14px;
  text-align: center
}

.wp-block-cover-image .wp-block-cover-image-text a,
.wp-block-cover-image .wp-block-cover-image-text a:active,
.wp-block-cover-image .wp-block-cover-image-text a:focus,
.wp-block-cover-image .wp-block-cover-image-text a:hover,
.wp-block-cover-image h2 a,
.wp-block-cover-image h2 a:active,
.wp-block-cover-image h2 a:focus,
.wp-block-cover-image h2 a:hover {
  color: #fff
}

.wp-block-cover-image.has-parallax {
  background-attachment: fixed
}

.wp-block-cover-image.has-background-dim:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5)
}

.wp-block-cover-image.has-background-dim.has-background-dim-10:before {
  background-color: rgba(0, 0, 0, .1)
}

.wp-block-cover-image.has-background-dim.has-background-dim-20:before {
  background-color: rgba(0, 0, 0, .2)
}

.wp-block-cover-image.has-background-dim.has-background-dim-30:before {
  background-color: rgba(0, 0, 0, .3)
}

.wp-block-cover-image.has-background-dim.has-background-dim-40:before {
  background-color: rgba(0, 0, 0, .4)
}

.wp-block-cover-image.has-background-dim.has-background-dim-50:before {
  background-color: rgba(0, 0, 0, .5)
}

.wp-block-cover-image.has-background-dim.has-background-dim-60:before {
  background-color: rgba(0, 0, 0, .6)
}

.wp-block-cover-image.has-background-dim.has-background-dim-70:before {
  background-color: rgba(0, 0, 0, .7)
}

.wp-block-cover-image.has-background-dim.has-background-dim-80:before {
  background-color: rgba(0, 0, 0, .8)
}

.wp-block-cover-image.has-background-dim.has-background-dim-90:before {
  background-color: rgba(0, 0, 0, .9)
}

.wp-block-cover-image.has-background-dim.has-background-dim-100:before {
  background-color: #000
}

.wp-block-cover-image.components-placeholder {
  height: inherit
}

.editor-block-list__block[data-type="core/embed"][data-align=left] .editor-block-list__block-edit,
.editor-block-list__block[data-type="core/embed"][data-align=right] .editor-block-list__block-edit,
.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright,
.wp-block-embed.alignleft,
.wp-block-embed.alignright,
[data-align=left] .wp-block-cover-image,
[data-align=right] .wp-block-cover-image {
  max-width: 305px;
  width: 100%
}

.wp-block-embed figcaption {
  margin-top: .5em;
  margin-bottom: 1em;
  color: #555d66;
  text-align: center;
  font-size: 13px
}

.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper,
.wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper,
.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper,
.wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper,
.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper,
.wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper,
.wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper {
  position: relative
}

.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before,
.wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before,
.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before,
.wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper:before,
.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before,
.wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before,
.wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
  content: "";
  display: block;
  padding-top: 50%
}

.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper iframe,
.wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper iframe,
.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper iframe,
.wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper iframe,
.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe,
.wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper iframe,
.wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
  padding-top: 42.85%
}

.wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before {
  padding-top: 50%
}

.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before {
  padding-top: 56.25%
}

.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before {
  padding-top: 75%
}

.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before {
  padding-top: 100%
}

.wp-block-embed.wp-embed-aspect-9-6 .wp-block-embed__wrapper:before {
  padding-top: 66.66%
}

.wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before {
  padding-top: 200%
}

.wp-block-file {
  margin-bottom: 1.5em
}

.wp-block-file.aligncenter {
  text-align: center
}

.wp-block-file.alignright {
  text-align: right
}

.wp-block-file .wp-block-file__button {
  background: #32373c;
  border-radius: 2em;
  color: #fff;
  font-size: 13px;
  padding: .5em 1em
}

.wp-block-file a.wp-block-file__button {
  text-decoration: none
}

.wp-block-file a.wp-block-file__button:active,
.wp-block-file a.wp-block-file__button:focus,
.wp-block-file a.wp-block-file__button:hover,
.wp-block-file a.wp-block-file__button:visited {
  box-shadow: none;
  color: #fff;
  opacity: .85;
  text-decoration: none
}

.wp-block-file *+.wp-block-file__button {
  margin-left: .75em
}

.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 -8px
}

.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
  margin: 8px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  position: relative
}

.wp-block-gallery .blocks-gallery-image figure,
.wp-block-gallery .blocks-gallery-item figure {
  margin: 0;
  height: 100%
}

@supports ((position:-webkit-sticky) or (position:sticky)) {

  .wp-block-gallery .blocks-gallery-image figure,
  .wp-block-gallery .blocks-gallery-item figure {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start
  }
}

.wp-block-gallery .blocks-gallery-image img,
.wp-block-gallery .blocks-gallery-item img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%
}

@supports ((position:-webkit-sticky) or (position:sticky)) {

  .wp-block-gallery .blocks-gallery-image img,
  .wp-block-gallery .blocks-gallery-item img {
    width: auto
  }
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 40px 10px 5px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  background: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .3) 60%, transparent)
}

.wp-block-gallery .blocks-gallery-image figcaption img,
.wp-block-gallery .blocks-gallery-item figcaption img {
  display: inline
}

.wp-block-gallery.is-cropped .blocks-gallery-image a,
.wp-block-gallery.is-cropped .blocks-gallery-image img,
.wp-block-gallery.is-cropped .blocks-gallery-item a,
.wp-block-gallery.is-cropped .blocks-gallery-item img {
  width: 100%
}

@supports ((position:-webkit-sticky) or (position:sticky)) {

  .wp-block-gallery.is-cropped .blocks-gallery-image a,
  .wp-block-gallery.is-cropped .blocks-gallery-image img,
  .wp-block-gallery.is-cropped .blocks-gallery-item a,
  .wp-block-gallery.is-cropped .blocks-gallery-item img {
    height: 100%;
    flex: 1;
    -o-object-fit: cover;
    object-fit: cover
  }
}

.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
  width: calc(100% / 2 - 16px)
}

.wp-block-gallery.columns-1 .blocks-gallery-image,
.wp-block-gallery.columns-1 .blocks-gallery-item {
  width: calc(100% / 1 - 16px)
}

@media (min-width:600px) {

  .wp-block-gallery.columns-3 .blocks-gallery-image,
  .wp-block-gallery.columns-3 .blocks-gallery-item {
    width: calc(100% / 3 - 16px)
  }

  .wp-block-gallery.columns-4 .blocks-gallery-image,
  .wp-block-gallery.columns-4 .blocks-gallery-item {
    width: calc(100% / 4 - 16px)
  }

  .wp-block-gallery.columns-5 .blocks-gallery-image,
  .wp-block-gallery.columns-5 .blocks-gallery-item {
    width: calc(100% / 5 - 16px)
  }

  .wp-block-gallery.columns-6 .blocks-gallery-image,
  .wp-block-gallery.columns-6 .blocks-gallery-item {
    width: calc(100% / 6 - 16px)
  }

  .wp-block-gallery.columns-7 .blocks-gallery-image,
  .wp-block-gallery.columns-7 .blocks-gallery-item {
    width: calc(100% / 7 - 16px)
  }

  .wp-block-gallery.columns-8 .blocks-gallery-image,
  .wp-block-gallery.columns-8 .blocks-gallery-item {
    width: calc(100% / 8 - 16px)
  }
}

.wp-block-gallery .blocks-gallery-item.has-add-item-button {
  width: 100%
}

.wp-block-gallery.alignleft,
.wp-block-gallery.alignright,
[data-align=left] .wp-block-gallery,
[data-align=right] .wp-block-gallery {
  max-width: 305px;
  width: 100%
}

.wp-block-image,
.wp-block-image img {
  max-width: 100%
}

.wp-block-image.aligncenter {
  text-align: center
}

.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
  width: 100%
}

.wp-block-image .aligncenter,
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image.is-resized {
  display: table;
  margin-left: 0;
  margin-right: 0
}

.wp-block-image .aligncenter>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image .alignright>figcaption,
.wp-block-image.is-resized>figcaption {
  display: table-caption;
  caption-side: bottom
}

.wp-block-image .alignleft {
  float: left;
  margin-right: 1em
}

.wp-block-image .alignright {
  float: right;
  margin-left: 1em
}

.wp-block-image .aligncenter {
  margin-left: auto;
  margin-right: auto
}

.wp-block-image figcaption {
  margin-top: .5em;
  margin-bottom: 1em;
  color: #555d66;
  text-align: center;
  font-size: 13px
}

.wp-block-latest-comments__comment {
  font-size: 15px;
  line-height: 1.1;
  list-style: none;
  margin-bottom: 1em
}

.has-avatars .wp-block-latest-comments__comment {
  min-height: 36px;
  list-style: none
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt,
.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
  margin-left: 52px
}

.has-dates .wp-block-latest-comments__comment,
.has-excerpts .wp-block-latest-comments__comment {
  line-height: 1.5
}

.wp-block-latest-comments__comment-excerpt p {
  font-size: 14px;
  line-height: 1.8;
  margin: 5px 0 20px
}

.wp-block-latest-comments__comment-date {
  color: #8f98a1;
  display: block;
  font-size: 12px
}

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
  border-radius: 24px;
  display: block;
  float: left;
  height: 40px;
  margin-right: 12px;
  width: 40px
}

.wp-block-latest-posts.alignleft {
  margin-right: 2em
}

.wp-block-latest-posts.alignright {
  margin-left: 2em
}

.wp-block-latest-posts.is-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none
}

.wp-block-latest-posts.is-grid li {
  margin: 0 16px 16px 0;
  width: 100%
}

@media (min-width:600px) {
  .wp-block-latest-posts.columns-2 li {
    width: calc(50% - 16px)
  }

  .wp-block-latest-posts.columns-3 li {
    width: calc(33.33333% - 16px)
  }

  .wp-block-latest-posts.columns-4 li {
    width: calc(25% - 16px)
  }

  .wp-block-latest-posts.columns-5 li {
    width: calc(20% - 16px)
  }

  .wp-block-latest-posts.columns-6 li {
    width: calc(16.66667% - 16px)
  }
}

.wp-block-latest-posts__post-date {
  display: block;
  color: #6c7781;
  font-size: 13px
}

p.is-small-text {
  font-size: 14px
}

p.is-regular-text {
  font-size: 16px
}

p.is-large-text {
  font-size: 36px
}

p.is-larger-text {
  font-size: 48px
}

p.has-drop-cap:not(:focus):first-letter {
  float: left;
  font-size: 8.4em;
  line-height: .68;
  font-weight: 100;
  margin: .05em .1em 0 0;
  text-transform: uppercase;
  font-style: normal
}

p.has-background {
  padding: 20px 30px
}

.wp-block-pullquote {
  padding: 3em 0;
  text-align: center
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
  max-width: 305px
}

.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p {
  font-size: 20px
}

.wp-block-pullquote p {
  font-size: 24px;
  line-height: 1.6
}

.wp-block-pullquote cite,
.wp-block-pullquote footer {
  position: relative
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  margin: 0 0 16px;
  padding: 0 1em
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
  font-size: 24px;
  font-style: italic;
  line-height: 1.6
}

.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
  font-size: 18px;
  text-align: right
}

.wp-block-separator.is-style-wide {
  border-bottom-width: 1px
}

.wp-block-separator.is-style-dots {
  background: none;
  border: none;
  text-align: center;
  max-width: none;
  line-height: 1;
  height: auto
}

.wp-block-separator.is-style-dots:before {
  content: "\00b7 \00b7 \00b7";
  color: #191e23;
  font-size: 20px;
  letter-spacing: 2em;
  padding-left: 2em;
  font-family: serif
}

p.wp-block-subhead {
  font-size: 1.1em;
  font-style: italic;
  opacity: .75
}

.wp-block-table.has-fixed-layout tbody,
.wp-block-table.has-fixed-layout tfoot,
.wp-block-table.has-fixed-layout thead {
  display: table;
  table-layout: fixed;
  width: 100%
}

.wp-block-text-columns,
.wp-block-text-columns.aligncenter {
  display: flex
}

.wp-block-text-columns .wp-block-column {
  margin: 0 16px;
  padding: 0
}

.wp-block-text-columns .wp-block-column:first-child {
  margin-left: 0
}

.wp-block-text-columns .wp-block-column:last-child {
  margin-right: 0
}

.wp-block-text-columns.columns-2 .wp-block-column {
  width: 50%
}

.wp-block-text-columns.columns-3 .wp-block-column {
  width: 33.33333%
}

.wp-block-text-columns.columns-4 .wp-block-column {
  width: 25%
}

pre.wp-block-verse {
  white-space: nowrap;
  overflow: auto
}

.wp-block-video {
  margin-left: 0;
  margin-right: 0
}

.wp-block-video video {
  max-width: 100%
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .wp-block-video [poster] {
    -o-object-fit: cover;
    object-fit: cover
  }
}

.wp-block-video.aligncenter {
  text-align: center
}

.wp-block-video figcaption {
  margin-top: .5em;
  margin-bottom: 1em;
  color: #555d66;
  text-align: center;
  font-size: 13px
}

.has-pale-pink-background-color {
  background-color: #f78da7
}

.has-vivid-red-background-color {
  background-color: #cf2e2e
}

.has-luminous-vivid-orange-background-color {
  background-color: #ff6900
}

.has-luminous-vivid-amber-background-color {
  background-color: #fcb900
}

.has-light-green-cyan-background-color {
  background-color: #7bdcb5
}

.has-vivid-green-cyan-background-color {
  background-color: #00d084
}

.has-pale-cyan-blue-background-color {
  background-color: #8ed1fc
}

.has-vivid-cyan-blue-background-color {
  background-color: #0693e3
}

.has-very-light-gray-background-color {
  background-color: #eee
}

.has-cyan-bluish-gray-background-color {
  background-color: #abb8c3
}

.has-very-dark-gray-background-color {
  background-color: #313131
}

.has-pale-pink-color {
  color: #f78da7
}

.has-vivid-red-color {
  color: #cf2e2e
}

.has-luminous-vivid-orange-color {
  color: #ff6900
}

.has-luminous-vivid-amber-color {
  color: #fcb900
}

.has-light-green-cyan-color {
  color: #7bdcb5
}

.has-vivid-green-cyan-color {
  color: #00d084
}

.has-pale-cyan-blue-color {
  color: #8ed1fc
}

.has-vivid-cyan-blue-color {
  color: #0693e3
}

.has-very-light-gray-color {
  color: #eee
}

.has-cyan-bluish-gray-color {
  color: #abb8c3
}

.has-very-dark-gray-color {
  color: #313131
}

.has-small-font-size {
  font-size: 14px
}

.has-regular-font-size {
  font-size: 16px
}

.has-large-font-size {
  font-size: 36px
}

.has-larger-font-size {
  font-size: 48px
}