<template>
  <div class="contact">
    <div class="contact-phone">
      <img src="../assets/modal_contact.png">
      <div class="modal-phone">
        <div>
          <div class="modal-logo">
            <img src="../assets/email.png">
          </div>
          <div class="modal-detail">
            <div>Email</div>
            <div>sales@hyd-accessories.com</div>
          </div>
        </div>
        <div>
          <div class="modal-logo">
            <img src="../assets/phone.png">
          </div>
          <div class="modal-detail">
            <div>Phone</div>
            <div>+86 13815297932</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-contact">
      <img src="../assets/modal_phone.png">
      <div class="modal_show">
        <div>
          <div class="modal-logo">
            <img src="../assets/skype_logo.jpg">
          </div>
          <div class="modal-detail">
            <div>Skype</div>
            <div>lindarunkun</div>
          </div>
        </div>
        <div>
          <div class="modal-logo">
            <img src="../assets/whatsapp_logo.jpg">
          </div>
          <div class="modal-detail">
            <div>What's app</div>
            <div>+86 13815297932</div>
          </div>
        </div>
        <div>
          <div class="modal-logo">
            <img src="../assets/facebook_logo.png">
          </div>
          <div class="modal-detail">
            <div>facebook</div>
            <div>https://www.facebook.com/Watermachinery/</div>
          </div>
        </div>
        <div>
          <div class="modal-logo">
            <img src="../assets/wechat_logo.png">
          </div>
          <div class="modal-detail">
            <div>wechat</div>
            <div>253406322</div>
          </div>
        </div>
      </div>
    </div>
    <div @click="goBack">
      <img src="../assets/modal_top.png">
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    goBack() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  }
};
</script>

<style scoped>
.contact {
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  width: 60px;
}

.contact > div {
  cursor: pointer;
  position: relative;
  margin-top: 5px;
  text-align: center;
  background-color: transparent;
  box-shadow: 0 0 10px 0 rgba(20, 34, 67, 0.1);
}

.modal-logo {
  width: 78px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-logo > img {
  width: 30px;
  height: 30px;
}

.modal-phone,
.modal_show {
  z-index: -9;
  position: absolute;
  right: 60px;
  bottom: 0;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(20, 34, 67, 0.1);
  width: 360px;
  display: none;
}

.modal-phone > div,
.modal_show > div {
  display: flex;
  align-items: center;
}

.modal-detail {
  text-align: left;
}

.modal-detail > div:first-child {
  margin-top: 10px;
  font-size: 16px;
  color: #03004c;
  line-height: 24px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal-detail > div:last-child {
  margin-top: 10px;
  max-height: 36px;
  overflow: hidden;
  line-height: 18px;
  font-size: 12px;
  color: #666;
}

.modal-contact:hover .modal_show {
  display: block;
}

.contact-phone:hover .modal-phone {
  display: block;
}

@media screen and (max-width: 860px) {
  .contact {
    display: none;
  }
}
</style>

