<template>
    <div class="footer">
        <section style="background:rgb(3, 24, 55);">
            <div class="life-wrap">
                <div class="life-title">Packaging For Life</div>
                <div>
                    <img src="http://pmo33636a.pic35.websiteonline.cn/upload/face.png">
                    <img src="http://pmo33636a.pic35.websiteonline.cn/upload/instgram.png">
                    <img src="http://pmo33636a.pic35.websiteonline.cn/upload/669x.png">
                    <img src="http://pmo33636a.pic35.websiteonline.cn/upload/youtu.png">
                    <img src="http://pmo33636a.pic35.websiteonline.cn/upload/8itc.png">
                </div>
            </div>
        </section>
        <section class="contact-sec" style="overflow: hidden;">
            <div class="flexs contact-wrap">
                <div class="contact-item">
                    <div class="contact-title">About Us</div>
                    <ul>
                        <router-link :to="{path:'/about/146'}" tag="li">Our Advantages</router-link>
                        <router-link :to="{path:'/about/158'}" tag="li">Our Factory</router-link>
                        <router-link :to="{path:'/about/176'}" tag="li">Company Profile</router-link>
                    </ul>
                </div>
                <div class="contact-item">
                    <div class="contact-title">Products</div>
                    <ul>
                        <router-link :to="{path:'/product/63'}" tag="li">water bottle machine</router-link>
                        <router-link :to="{path:'/product/70'}" tag="li">small water filling machine</router-link>
                        <router-link :to="{path:'/product/74'}" tag="li">Juice filling equipment</router-link>
                        <router-link :to="{path:'/product/76'}" tag="li">small juice filling machine</router-link>
                        <router-link :to="{path:'/product/88'}" tag="li">tea drink filling machine</router-link>
                        <router-link :to="{path:'/product/84'}" tag="li">beer filling machine</router-link>
                    </ul>
                </div>
                <div class="contact-item">
                    <div class="contact-title">Solutions</div>
                    <ul>
                        <router-link :to="{path:'/product/118'}" tag="li">Beer filling machine</router-link>
                        <router-link :to="{path:'/product/129'}" tag="li">Bottled Water Filling Machine</router-link>
                        <router-link :to="{path:'/product/132'}" tag="li">Juice Filling Line</router-link>
                    </ul>
                </div>
                <div class="contact-item">
                    <div class="contact-title">Service</div>
                    <ul>
                        <router-link :to="{path:'/solution/197'}" tag="li">After-sales service</router-link>
                        <router-link :to="{path:'/solution/195'}" tag="li">Customer Training</router-link>
                        <router-link :to="{path:'/solution/203'}" tag="li">Technical Support</router-link>
                    </ul>
                </div>
                <div class="contact-item">
                    <div class="contact-title">Contact us</div>
                    <div>Add: Jiangsu Yangtze River coast</div>
                    <div>TEL：+86 13815297932</div>
                    <div>E-mail：sales@hyd-accessories.com</div>
                </div>
            </div>
        </section>
    </div>
</template>

<style scoped>
.life-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  margin: 0 auto;
  height: 57px;
}

.life-wrap img {
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin: 0 10px;
}

.life-wrap .life-title {
  font-size: 20px;
  color: #fff;
}

.contact-sec {
  background: rgb(6, 34, 75);
}

.contact-wrap {
  max-width: 1180px;
  margin: 0 auto;
  padding: 60px;
  min-height: 250px;
  flex-wrap: wrap;
}

.contact-item {
  width: 18%;
  display: block;
  height: auto;
  font-size: 12px;
  color: #d9d9d9;
  text-align: left;
  line-height: 22px;
}

.contact-item > ul {
  list-style: none;
}

.contact-item > ul > li {
  list-style: none;
  cursor: pointer;
  margin: 7px 0;
}

.contact-item > ul > li:hover {
  color: #fff;
}

.contact-item .contact-title {
  font-size: 16px;
  margin: 10px 0 8px;
  font-weight: bold;
}

@media screen and (max-width: 740px) {
  .contact-item {
    width: 50%;
  }
}
</style>