<template>
  <div class="header-wrap">
    <div class="header">
      <router-link tag="div" to="/" style="cursor:pointer" class="flexac">
        <img class="logo" src="../assets/logo.png">
        <!-- <img class="logo1" src="../assets/company.png"> -->
      </router-link>
      <View style="flex:1"></View>
      <div class="contact">
        <div class="phone"><div class="phone-icon"></div>sales@hyd-accessories.com</div>
        <div class="email"><div class="email-icon"></div>+86 13815297932</div>
      </div>
        <div @click="show = !show" class="header-menu">
          <span class="burger"></span>
          <span class="burger"></span>
          <span class="burger"></span>
        </div>
    </div>
    <div class="nav-wrap">
      <ul class="nav">
        <router-link tag="li" to="/">Home</router-link>
        <router-link tag="li" to="/productAll">Products
          <ul class="drop-menu">
            <router-link :to="{path:`/product/${item.id}`}" tag="li" v-for="(item,index) in this.$root.personImg" :key="`product-${index}`">{{item.title}}</router-link>
          </ul>
        </router-link>
        <router-link tag="li" :to="{path:'/about/134'}">About US</router-link>
        <router-link tag="li" :to="{path:'/solution'}">Soulation&Service</router-link>
        <router-link tag="li" :to="{path:'/news/144'}">News
          <!-- <ul class="drop-menu">
            <li>Water Filling Machine</li>
            <li>Water Filling Machine</li>
            <li>Water Filling Machine</li>
            <li>Water Filling Machine</li>
            <li>Water Filling Machine</li>
          </ul> -->
        </router-link>
        <router-link tag="li" :to="{path:'/contact/138'}">Contact</router-link>
      </ul>
    </div>
    <transition name="slide-fade">
      <div v-if="show" class="menu-box">
        <div @click="show = !show" class="menuclose">
          <i></i>
        </div>
        <div class="navMobile">
          <ul>
            <li>Home</li>
            <li>Products</li>
            <router-link :to="{path:`/product/${item.id}`}" tag="li" v-for="(item,index) in this.$root.personImg" :key="`product-${index}`">{{item.title}}</router-link>
            <router-link :to="{path:`/solution/${item.id}`}" tag="li" v-for="(item,index) in this.$root.solution" :key="`solution-${index}`">{{item.title}}</router-link>
            <router-link :to="{path:`/solution/${item.id}`}" tag="li" v-for="(item,index) in this.$root.service" :key="`server-${index}`">{{item.title}}</router-link>
          </ul>
        </div>
        <a class="menuLogo">
          <img width="100%" src="http://www.asgmachinery.com/wp-content/themes/dx-ecbr/image/1.jpg">
        </a>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false
    };
  },
  watch: {
    $route() {
      if (this.show) {
        this.show = false;
      }
    }
  }
};
</script>

<style scoped>
.header-wrap {
  margin: 0 auto;
}

.header {
  padding: 10px 0px 15px;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-wrap {
  background: #003f8f;
}

.nav {
  max-width: 1180px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  height: 38px;
  color: #fff;
  font-size: 14px;
}

.nav > li {
  cursor: pointer;
  position: relative;
  width: 12%;
  height: 38px;
  line-height: 38px;
  text-align: center;
}

.drop-menu {
  margin-left: 0;
  z-index: 999;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  list-style: none;
  background: #87b9e7;
  transition: max-height 5s ease-out;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.drop-menu > li {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-align: left;
  padding: 0 10px;
  min-width: 160px;
  overflow: hidden;
}

.contact {
  display: flex;
  align-items: center;
}

@keyframes mymove {
  form {
    max-height: 0px;
  }

  to {
    max-height: 1200px;
  }
}

.drop-menu > li:hover {
  background-color: #003f8f;
}
.nav > li:hover .drop-menu {
  max-height: 1000px;
}

.header-menu {
  display: none;
  width: 58px;
  height: 58px;
  cursor: pointer;
  float: right;
  position: relative;
  background-color: #39b54a;
  margin-left: 15px;
}

.header-menu > .burger {
  width: 24px;
  height: 2px;
  background: #fff;
  display: block;
  position: absolute;
  z-index: 5;
  left: 50%;
  margin: 0px 0px 0px -12px;
}

.header-menu > .burger:first-of-type {
  top: 20px;
}

.header-menu > .burger:nth-of-type(2) {
  top: 27px;
}

.header-menu > .burger:last-of-type {
  top: 35px;
}

.logo {
  width: 250px;
  height: 60px;
  transition: 0.3s;
}

.menu-box {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 900;
  background-color: #f6f7f7;
}

.menuclose {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  width: 49px;
  height: 49px;
  border: 3px solid #e2e2e2;
  margin: 50px auto 0px;
  position: relative;
}

.menuclose i {
  background: url("../assets/menuclose.png") no-repeat;
  width: 17px;
  height: 20px;
  transition: 400ms;
}

.menuclose:hover i {
  transform: rotate(90deg);
}

.navMobile {
  padding: 30px 0px;
}

.navMobile li {
  cursor: pointer;
  padding: 14px 0px;
  line-height: 1.4;
  font-size: 14px;
  color: #39b54a;
  text-align: center;
}

.navMobile li:hover {
  background: none #39b54a;
  color: #fff;
}

.menuLogo {
  cursor: pointer;
  display: block;
  margin: 0px auto;
  width: 64px;
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-30px);
  opacity: 0;
}

.logo1 {
  width: 300px;
  height: 35px;
  margin-left: 15px;
}

/* .logo {
  width: 50px;
  height: 50px;
} */

.email {
  margin-left: 15px;
}

.email-icon {
    margin-right: 3px;
  width: 18px;
  height: 18px;
  background: url(../assets/phone.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.email,
.phone {
  display: flex;
  align-items: center;
}

.phone-icon {
  margin-right: 3px;
  width: 18px;
  height: 18px;
  background: url(../assets/email.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 860px) {
  .logo1 {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 900;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  }

  .header-menu {
    display: block;
  }

  .contact {
    display: none;
  }

  .nav-wrap {
    display: none;
  }
}
</style>