<template>
  <div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <img class="swiper-slide" v-for="(str,index) in listImg" :key="index" :src="str.url">
      </div>
      <div class="swiper-pagination swiper-pagination-white"></div>
      <div class="nivo-prevNav"></div>
      <!--左箭头-->
      <div class="nivo-nextNav"></div>
      <!--右箭头-->
    </div>
    <div>
      <p class="title">Solution & Application</p>
      <div class="person-wrap">
        <router-link tag="div" :to="{path:`/product/${item.id}`}" class="person-item" v-for="(item,index) in this.$root.personImg"
          :key="index">
          <div>
            <img :src="item.url">
          </div>
          <div class="tc">{{item.title}}</div>
        </router-link>
      </div>
      <div>
        <router-link tag="div" class="more-btn" to="/product">MORE</router-link>
      </div>
    </div>
    <div>
      <p class="title">Successful Case</p>
      <div class="case-wrap">
        <div class="person-item">
          <div>
            <img src="../assets/case-1.jpg">
          </div>
          <div class="tc">Beer Filling Machine</div>
        </div>
        <div class="person-item">
          <div>
            <img src="../assets/case-2.jpg">
          </div>
          <div class="tc">Wine Filling Machine Filling And Capping Two-In-One</div>
        </div>
        <div class="person-item">
          <div>
            <img src="../assets/case-3.jpg">
          </div>
          <div class="tc">UHT Plate Sterilizer</div>
        </div>
        <div class="person-item">
          <div>
            <img src="../assets/case-4.jpg">
          </div>
          <div class="tc">One And Two Semi-Automatic Blow Molding Machines</div>
        </div>
      </div>
      <div class="case-wrap">
        <div class="person-item">
          <div>
            <img src="../assets/case-5.jpg">
          </div>
          <div class="tc">Beverage Mixer</div>
        </div>
        <div class="person-item">
          <div>
            <img src="../assets/case-6.jpg">
          </div>
          <div class="tc">24 Water Filling Machine</div>
        </div>
        <div class="person-item">
          <div>
            <img src="../assets/case-7.jpg">
          </div>
          <div class="tc">Water Filling Machine</div>
        </div>
        <div class="person-item">
          <div>
            <img src="../assets/case-8.jpg">
          </div>
          <div class="tc">Soy Sauce Vinegar Seasoning Filling Machine</div>
        </div>
      </div>
      <div>
        <router-link tag="div" class="more-btn" to="/product">MORE</router-link>
      </div>
    </div>
    <section class="machine-sec">
      <p class="title">Our-Factory</p>
      <div class="machine-wrap">
        <div class="machine-item">
          <img src="../assets/factory-1.jpg">

        </div>
        <div class="machine-item">
          <img src="../assets/factory-2.jpg">

        </div>
        <div class="machine-item">
          <img src="../assets/factory-3.jpg">

        </div>
        <div class="machine-item">
          <img src="../assets/factory-4.jpg">

        </div>
      </div>
      <div>
        <router-link tag="div" class="more-btn" to="/">MORE</router-link>
      </div>
    </section>
    <section style="background:white" class="machine-sec">
      <p class="title">Certificate</p>
      <div class="machine-wrap">
        <div class="machine-item">
          <img src="../assets/certificate-1.jpg">

        </div>
        <div class="machine-item">
          <img src="../assets/certificate-2.jpg">

        </div>
        <div class="machine-item">
          <img src="../assets/certificate-3.jpg">

        </div>
        <div class="machine-item">
          <img src="../assets/certificate-4.jpg">

        </div>
      </div>

      <div>
        <router-link tag="div" class="more-btn" to="/">MORE</router-link>
      </div>
    </section>
    <section class="machine-sec">
      <p class="title">Our Advantage</p>
      <div class="machine-wrap">
        <div class="machine-item">
          <img src="../assets/advantage-1.jpg">

        </div>
        <div class="machine-item">
          <img src="../assets/advantage-2.jpg">

        </div>
        <div class="machine-item">
          <img src="../assets/advantage-3.jpg">

        </div>
        <div class="machine-item">
          <img src="../assets/advantage-4.jpg">

        </div>
      </div>

      <div>
        <router-link tag="div" class="more-btn" to="/">MORE</router-link>
      </div>
    </section>

    <section style="background:#f3f3f3" class="about-sec">
      <p class="title">ABOUT US</p>
      <div class="about-wrap">
        <div class="about-left">
          <div class="about-title">We have been dedicated to be the best supplier in the world for filling machine!</div>
          <div class="about-desc">technology area--beverage and the dairy packaging machinery, in recent years ASG has
            completed dozens of
            institute research projects, which including national torch plans industrialization project "liquid food
            aseptic automatically high-speed filling machine", "juice with pulp filling machine" and "liquid milk and
            beverage continuous high-speed packaging robot",</div>
          <router-link tag="div" style="margin:20px 0;" class="more-btn" to="/">more</router-link>
        </div>
        <div class="about-right">
          <img src="../assets/a2.jpg">
        </div>
      </div>
    </section>
    <section>
      <p class="title">NEWS CENTER</p>
      <div class="new-wrap">
        <div class="new-item" v-for="(item,index) in news" :key="index">
          <div style="width:20%">
            <div class="day">04</div>
            <div class="date">2018-04</div>
          </div>
          <div class="news-desc">
            <div class="news-title">{{item.title}}</div>
            <div class="news-content">{{item.content}}</div>
          </div>
        </div>
      </div>
    </section>
    <section class="link-sec">
      <div>Link:</div>
      <div class="link-list">
        <ul class="flexs">
          <li v-for="(item,index) in links" :key="index">{{item.name}}</li>
        </ul>
      </div>
      <div>
      </div>
    </section>
    <section class="icon-sec">
      <div class="icon-f1">
        <a></a>
      </div>
      <div class="icon-f2">
        <a></a>
      </div>
      <div class="icon-f3">
        <a></a>
      </div>
      <div class="icon-f4">
        <a></a>
      </div>
      <div class="icon-f5">
        <a></a>
      </div>
      <div class="icon-f6">
        <a></a>
      </div>
      <div class="icon-f7">
        <a></a>
      </div>
    </section>
    <section class="keyword-sec">
      <div class="keyword-wrap">Keyword:
        <router-link tag="a" to="/">Pressure Sensor | </router-link>
        <router-link tag="a" to="/">Pressure Sensor | </router-link>
        <router-link tag="a" to="/">Pressure Sensor | </router-link>
        <router-link tag="a" to="/">Pressure Sensor | </router-link>
        <router-link tag="a" to="/">Pressure Sensor</router-link>
        <!-- <router-link tag="a" to="" v-for="(item,index) in Keyword" :key="index">{{item.name}} | </router-link> -->
      </div>
    </section>
    <my-message></my-message>
  </div>
</template>

<script>
import Swiper from "swiper";
import "swiper/dist/css/swiper.min.css";
import MyMessage from "./MyMessage";

const listImg = [
  {
    url: require("../assets/b1.jpg")
  },
  {
    url: require("../assets/b2.jpg")
  },
  {
    url: require("../assets/b3.jpg")
  }
];

const news = [
  {
    time: "2018-04-04",
    title: "Several Types of Filling Machine",
    content:
      "The filling machine has a simple structure and high efficiency, and has a wide range of adaptability to the viscosity of the material, suc……"
  },
  {
    time: "2018-04-04",
    title: "Several Types of Filling Machine",
    content:
      "The filling machine has a simple structure and high efficiency, and has a wide range of adaptability to the viscosity of the material, suc……"
  },
  {
    time: "2018-04-04",
    title: "Several Types of Filling Machine",
    content:
      "The filling machine has a simple structure and high efficiency, and has a wide range of adaptability to the viscosity of the material, suc……"
  },
  {
    time: "2018-04-04",
    title: "Several Types of Filling Machine",
    content:
      "The filling machine has a simple structure and high efficiency, and has a wide range of adaptability to the viscosity of the material, suc……"
  }
];

const links = [
  {
    name: "Pressure Sensor",
    url: ""
  },
  {
    name: "Pressure Sensor",
    url: ""
  },
  {
    name: "Pressure Sensor",
    url: ""
  },
  {
    name: "Pressure Sensor",
    url: ""
  },
  {
    name: "Pressure Sensor",
    url: ""
  },
  {
    name: "Pressure Sensor",
    url: ""
  },
  {
    name: "Pressure Sensor",
    url: ""
  },
  {
    name: "Pressure Sensor",
    url: ""
  }
];

const Keyword = [
  {
    name: "Water Filling Machine",
    url: ""
  },
  {
    name: "Water Filling Machine",
    url: ""
  },
  {
    name: "Water Filling Machine",
    url: ""
  },
  {
    name: "Water Filling Machine",
    url: ""
  },
  {
    name: "Water Filling Machine",
    url: ""
  },
  {
    name: "Water Filling Machine",
    url: ""
  }
];

export default {
  data() {
    return {
      listImg,
      news,
      links,
      Keyword
    };
  },
  components: {
    MyMessage
  },
  created() {
    this.$nextTick(() => {
      const swiper = new Swiper(".swiper-container", {
        nextButton: ".nivo-nextNav",
        prevButton: ".nivo-prevNav",
        pagination: ".swiper-pagination",
        paginationClickable: true,
        loop: true,
        speed: 1000,
        autoplay: 3000,
        onTouchEnd: function() {
          swiper.startAutoplay();
        }
      });
    });
  },
  methods: {
    goBack() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  },
  metaInfo: {
    title: "Suzhou Magelan machinery Co.,ltd",
    meta: [
      {
        name: "keyWords",
        content: "Suzhou Magelan machinery Co.,ltd"
      },
      {
        name: "description",
        content: "Suzhou Magelan machinery Co.,ltd Official website"
      }
    ]
  }
};
</script>

<style scoped>
.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* background-position: center; */
  background-size: cover;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  width: 0.833rem;
  height: 0.833rem;
  display: inline-block;
  background: #7c5e53;
}

.new-wrap,
.machine-wrap,
.person-wrap {
  display: flex;
  flex-wrap: wrap;
}

.person-item {
  cursor: pointer;
  width: 25%;
  padding: 1%;
}

.person-item img {
  border-radius: 5px;
}

.more-btn {
  cursor: pointer;
  margin: 20px auto;
  width: 140px;
  height: 40px;
  font-size: 12px;
  font-family: Arial;
  border: 1px solid #006bb0;
  color: #999999;
  line-height: 40px;
  text-align: center;
}

.more-btn:hover {
  color: #ffffff;
  background: #006bb0;
}

.machine-sec {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  background: #f3f3f3;
}

.machine-item {
  margin: 0 auto;
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
}

.machine-item img {
  max-width: 100%;
  border-radius: 5px;
  height: auto;
}

.about-wrap {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 1000px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.about-left {
  width: 50%;
}

.about-right {
  width: 40%;
}

.new-wrap {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  height: auto;
  background: #f8f8f8;
  margin-top: 30px;
}

.new-item {
  display: flex;
  width: 46%;
  margin: 2%;
  height: auto;
  background: #fff;
}

.new-item .day {
  width: 36px;
  margin-left: 10px;
  height: 36px;
  margin: 10px;
  background: #23599f;
  font-size: 26px;
  font-family: "helvelow", Arial;
  text-align: center;
  line-height: 36px;
  font-weight: normal;
  color: #fff;
}

.new-item .date {
  width: 56px;
  margin: 10px;
  font-size: 12px;
  font-family: "helvelow", Arial;
  text-align: center;
  line-height: 26px;
  font-weight: normal;
  color: #666;
}

.news-desc {
  width: 70%;
  margin-right: 2%;
}

.news-title {
  cursor: pointer;
  width: 95%;
  font-size: 14px;
  font-family: Arial, Arial;
  text-align: left;
  line-height: 26px;
  font-weight: normal;
  color: #23599f;
}

.news-title:hover {
  color: #000;
}

.news-content {
  width: 95%;
  font-size: 12px;
  font-family: Arial, Arial;
  text-align: left;
  line-height: 20px;
  font-weight: normal;
  color: #888;
}

.nivo-prevNav,
.nivo-nextNav {
  z-index: 999;
  position: absolute;
  top: 50%;
  width: 25px;
  height: 37px;
  cursor: pointer;
}

.nivo-nextNav {
  right: 0;
  background: url("../assets/arrows.png") top right no-repeat;
}

.nivo-prevNav {
  left: 0;
  background: url("../assets/arrows.png") top left no-repeat;
}

.case-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.case-item {
  width: 23%;
  /* height: 300px; */
  margin-bottom: 60px;
}

.case-item > div {
  height: 100%;
}

.title {
  margin: 20px auto;
  padding: 0;
  width: 100%;
  height: auto;
  color: #5a5a5a;
  font-size: 24px;
  font-family: "IGL", Arial;
  text-align: center;
  line-height: 57px;
}

.machine-title {
  color: #666;
  font-size: 14px;
  font-family: Arial;
  text-align: center;
  line-height: 30px;
}

.machine-desc {
  margin: 0 auto;
  width: 90%;
  color: #888;
  font-size: 10px;
  font-family: Arial;
  text-align: left;
  line-height: 20px;
}

.machine-list {
  padding-top: 20px;
}

.machine-list ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.machine-list li {
  margin: 0;
  padding: 0;
  width: 25%;
  height: auto;
}

.machine-list li a {
  padding-left: 30px;
  background: url("../assets/line.png") no-repeat center left;
  display: block;
  font-family: Arial;
  font-size: 14px;
  color: #666666;
  text-align: left;
  text-decoration: none;
  line-height: 22px;
}

.machine-list li a:hover {
  text-decoration: underline;
}

.about-title {
  color: #003f8f;
  font-size: 24px;
  font-family: Arial;
  text-align: left;
  line-height: 30px;
}

.about-desc {
  margin-top: 15px;
  color: #888;
  font-size: 14px;
  font-family: Arial;
  text-align: left;
  line-height: 20px;
}

.link-sec {
  margin: 0 auto;
  width: 60%;
  font-family: Arial;
  font-size: 18px;
  color: #96bee6;
  text-align: left;
  line-height: 18px;
  font-weight: normal;
  padding-top: 30px;
}

.link-list {
  font-size: 13px;
  color: #ccc;
  line-height: 16px;
}

.link-list > ul {
  list-style: none;
}

.link-list > ul > li {
  width: auto;
  max-width: 300px;
  min-width: 10px;
  padding-left: 20px;
}

.icon-sec {
  display: flex;
  margin: 0 auto;
  width: 350px;
  height: 50px;
  text-align: center;
  font-size: 12px;
  color: #666;
  line-height: 20px;
  font-weight: normal;
}

.icon-sec > div > a {
  transition: all 0.5s;
  cursor: pointer;
  display: block;
  width: 50px;
  height: 50px;
}

.icon-f1 > a {
  background: transparent url("../assets/ico0.jpg") no-repeat scroll 0 0px;
}

.icon-f1 > a:hover {
  background: url("../assets/ico0.jpg") no-repeat 0px -50px;
}

.icon-f2 > a {
  background: transparent url("../assets/ico0.jpg") no-repeat scroll -50px 0px;
}

.icon-f2 > a:hover {
  background-position: -50px -50px;
}

.icon-f3 > a {
  background: transparent url("../assets/ico0.jpg") no-repeat scroll -100px 0px;
}

.icon-f3 > a:hover {
  background-position: -100px -50px;
}

.icon-f4 > a {
  background: transparent url("../assets/ico0.jpg") no-repeat scroll -150px 0px;
}

.icon-f4 > a:hover {
  background-position: -150px -50px;
}

.icon-f5 > a {
  background: transparent url("../assets/ico0.jpg") no-repeat scroll -200px 0px;
}

.icon-f5 > a:hover {
  background-position: -200px -50px;
}

.icon-f6 > a {
  background: transparent url("../assets/ico0.jpg") no-repeat scroll -250px 0px;
}

.icon-f6 > a:hover {
  background-position: -250px -50px;
}

.icon-f7 > a {
  background: transparent url("../assets/ico0.jpg") no-repeat scroll -300px 0px;
}

.icon-f7 > a:hover {
  background-position: -300px -50px;
}

.keyword-sec {
  width: 100%;
  background: #d0d0d0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.keyword-wrap {
  max-width: 1180px;
  margin: 0 auto;
  width: 98%;
  font-size: 12px;
  text-align: left;
  line-height: 20px;
  font-weight: normal;
}

.keyword-wrap > a {
  text-decoration: none;
  color: #666;
}

.keyword-wrap > a:hover {
  color: #000;
}

@media screen and (max-width: 481px) {
  .person-item {
    width: 45%;
    margin: 0 2%;
  }

  .machine-item {
    width: 48%;
  }

  .machine-list li {
    width: 50%;
  }
}

@media screen and (max-width: 860px) {
  .message,
  .contact {
    display: none;
  }

  .about-wrap {
    flex-direction: column;
    align-items: center;
  }

  .about-right,
  .about-left {
    width: 96%;
  }

  .new-item {
    width: 96%;
  }

}

@media screen and (max-width: 1024px) {
  .swiper-container {
    margin-top: 60px;
  }
}
</style>