<template>
  <div class="message">
    <div class="content">
      <div style="color:#FFF;font-size:15px">Contact supplier</div>
      <div style="color:#FFF;font-size:13px">Your message:</div>
      <div class="msg-input">
        <div class="msg-icon icon-user"></div>
        <input v-model="name" type="text" maxlength="30" placeholder="Name">
      </div>
      <div class="msg-input">
        <div class="msg-icon icon-email"></div>
        <input v-model="address" type="text" maxlength="30" placeholder="Email">
      </div>
      <textarea v-model="content" placeholder="Type your message"></textarea>
      <div @click="send" class="btn-send">Send message</div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      content: "",
      name: "",
      address: ""
    };
  },
  methods: {
    send() {
      if (!this.content && !this.name && !this.address) {
        alert("请填写完整信息");
        return;
      }

      if (!this.validator(this.address, "email")) {
        alert("请填写正确邮箱");
        return;
      }
      this.$ajax
        .post("http://207.148.115.180:3000/sendMail", {
          email: "linda@hyd-accessories.com",
          content: this.content,
          address: this.address,
          name: this.name
        })
        .then(() => {
          alert("留言成功");
        })
        .catch(() => {
          alert("留言失败");
        });
    },
    validator(value, type) {
      if (type === "phone") {
        return /^1[34578]\d{9}$/.test(value);
      }
      if (type === "email") {
        // 不再支持+和.
        return /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/gi.test(
          value
        );
      }
      return false;
    }
  }
};
</script>


<style scoped>
.message {
  width: 240px;
  position: fixed;
  bottom: 0;
  z-index: 999;
  border-radius: 3px;
  background-color: rgb(81, 180, 147);
}

.title {
  display: flex;
  justify-content: space-between;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #fff;
  padding: 0 0 0 12px;
  background-color: #00aef3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.close {
  height: 30px;
  width: 34px;
  margin-top: 2px;
  cursor: pointer;
  background: transparent url("../assets/nodeMin.png") no-repeat;
}

.content {
  padding: 10px 9px;
}

.msg-input {
  display: flex;
  height: 30px;
  width: 221px;
  line-height: 30px;
  margin: 7px auto 0;
  border: 1px solid #d5d5d5;
  position: relative;
  background-color: #fff;
  margin-bottom: 10px;
}

input {
  border: 0px !important;
  padding: 0 0 0 10px !important;
  margin: 0;
  width: 140px;
  height: 30px;
  line-height: 30px;
  border: none;
  display: inline-block;
  font-size: 12px !important;
}

textarea {
  height: 40px;
  margin: 0 auto 7px;
  padding: 0 4px;
  resize: none;
  overflow: hidden;
  border: 1px solid #d5d5d5;
  background-color: #fff;
  color: #fff;
  text-align: left;
  font-size: 12px !important;
}

.btn-send {
  margin: 12px 0;
  height: 35px;
  width: 120px;
  line-height: 35px;
  text-align: center;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(40, 64, 78);
  border-radius: 3px;
}

.msg-icon {
  width: 35px;
  height: 30px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
  vertical-align: top;
  border-right: 1px solid #fff;
}

.icon-user {
  background: #fff url("../assets/user.png") no-repeat 9px center;
}

.icon-phone {
  background: #fff url("../assets/nodephone.png") no-repeat 9px center;
}

.icon-email {
  background: #fff url("../assets/nodemail.png") no-repeat 9px center;
}

.icon-address {
  background: #fff url("../assets/nodelocation.png") no-repeat 9px center;
}
</style>  