<template>
  <div class="nav-wrap">
    <div class="nav">
      <ul>
        <li v-if="type=='about'">
          <a @click="isOpenS=!isOpenS" :class="isOpenS ? 'active':'nor'">About List</a>
          <ul>
            <ul class="drop-menu" v-show="isOpenS">
              <router-link tag="li" :to="{path:`/about/134`}">
                <a>About us</a>
              </router-link>
              <router-link tag="li" :to="{path:`/about/146`}">
                <a>Our Advantages</a>
              </router-link>
              <router-link tag="li" :to="{path:`/about/158`}">
                <a>Our Factory</a>
              </router-link>
              <router-link tag="li" :to="{path:`/about/176`}">
                <a>Company Profile</a>
              </router-link>
            </ul>
          </ul>
        </li>
        <li v-if="type=='news'">
          <a @click="isOpenS=!isOpenS" :class="isOpenS ? 'active':'nor'">News List</a>
          <ul>
            <ul class="drop-menu" v-show="isOpenS">
              <router-link tag="li" :to="{path:`/news/144`}">
                <a>Company news</a>
              </router-link>
            </ul>
          </ul>
        </li>
        <li v-if="type=='product'||type=='contact'||type=='about'||type==='productAll'||type==='news'">
          <a @click="isOpen=!isOpen" :class="isOpen ? 'active':'nor'" style="text-transform: capitalize;">Product List</a>
          <ul class="drop-menu" v-show="isOpen">
            <router-link tag="li" :to="{path:`/product/${item.id}`}" v-for="(item,index) in this.$root.personImg" :key='index'>
              <a>{{item.title}}</a>
            </router-link>
          </ul>
        </li>
        <li v-if="type=='solution'">
          <a @click="isOpen=!isOpen" :class="isOpen ? 'active':'nor'">Solution List</a>
          <ul>
            <ul class="drop-menu" v-show="isOpen">
              <router-link tag="li" :to="{path:`/solution/${item.id}`}" v-for="(item,index) in this.$root.solution"
                :key='index'>
                <a>{{item.title}}</a>
              </router-link>
            </ul>
          </ul>
        </li>
        <li v-if="type=='solution'">
          <a @click="isOpenS=!isOpenS" :class="isOpenS ? 'active':'nor'">Service List</a>
          <ul>
            <ul class="drop-menu" v-show="isOpenS">
              <router-link tag="li" :to="{path:`/solution/${item.id}`}" v-for="(item,index) in this.$root.service" :key='index'>
                <a>{{item.title}}</a>
              </router-link>
            </ul>
          </ul>
        </li>
      </ul>
    </div>
    <div class="contact">
      <div class="contact-title">Contact us</div>
      <div class="contact-desc">If you has any question,please contact us</div>
      <div class="contact-phone">+86 13815297932</div>
      <div class="contact-phone">+86 13915472553</div>
      <div class="line"></div>
      <div style="text-align: center;">Give me message</div>
      <div class="btn-message">message</div>
      <div style="height:20px"></div>
    </div>
  </div>
</template>


<script>
  export default {
    data() {
      return {
        isOpen: true,
        isOpenS: true
      };
    },
    computed: {
      type() {
        return this.$route.name;
      }
    }
  };
</script>

<style scoped>
  .active {
    background: url(../assets/on.png) top right no-repeat;
  }

  .nor {
    background: url(../assets/off.png) top right no-repeat;
  }

  .nav-wrap {
    width: 22%;
  }

  .nav ul li {
    cursor: pointer;
    display: block;
    width: 99%;
    padding-top: 2px;
    border: 1px solid #ccc;
    list-style: none;
    overflow: visible;
  }

  .nav ul li ul {
    margin-top: -4px;
    margin-bottom: 20px;
  }

  .nav ul li ul li {
    display: block;
    background: none;
    font-size: 12px;
    list-style: circle;
    color: #8f9d4c;
    border: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
  }

  .nav ul li ul li a {
    background: none;
    font-size: 12px;
    height: auto;
    color: #8f9d4c;
    padding-left: 0px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;
  }

  .nav li a {
    display: block;
    height: 34px;
    width: 96%;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 2%;
    font-size: 14px;
    color: #82846f;
    outline: none;
    text-decoration: none;
  }

  .contact {
    font-size: 12px;
    color: #666;
    line-height: 25px;
    border: 1px solid #ccc;
  }

  .contact-title {
    background-color: #515151;
    font-size: 18px;
    color: #fff;
    line-height: 65px;
    height: 65px;
    padding-left: 30px;
  }

  .contact-phone {
    font-family: Impact, Arial;
    font-size: 24px;
    color: #017ab9;
    text-align: center;
    text-decoration: none;
    line-height: 45px;
  }

  .line {
    background: #cecece;
    width: 100%;
    height: 1px;
  }

  .btn-message {
    margin: 0 auto;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    background: #017ab9;
    width: 140px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    margin-top: 5px;
  }

  .contact-desc {
    text-align: center;
    padding-top: 8px;
    padding-right: 8px;
  }

  .drop-menu {
    overflow: hidden;
    transition: max-height 0.5s linear;
  }

  .drop-menu li {
    cursor: pointer;
  }

  .drop-menu.open {
    max-height: 1000px;
  }

  .drop-menu.close {
    max-height: 0;
  }

  @media screen and (max-width: 860px) {
    .nav-wrap {
      width: 100%;
    }

    .contact {
      margin-bottom: 50px;
    }
  }
</style>