<template>
  <div class="wrap">
    <my-nav></my-nav>
    <div class="content">
        <div class="top">
            You are here: <router-link tag="span" to="/" class="step">Home</router-link> » <router-link tag="span" to="/solution" class="step">Solution</router-link>
        </div>
        <router-link  tag="div" :to="{path:`/solution/${item.id}`}"  class="item" v-for="(item,index) in list" :key="index">
             <img class="image" :src='item.img'>
                <div>
                    <div class="title">{{item.title}}</div>
                    <div class="desc">{{item.desc}}</div>
                    <div class="time">Time:{{item.time}}</div>
                </div>
        </router-link>
    </div>
  </div>
</template>

<script>
import MyNav from "./nav";
import MyArticle from "./article";
const list = [
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/1-1-1.jpg",
    id: 54,
    title: "3-5 gallon water filling machine",
    desc:
      "5 Gallon Production LineModel NO.: 600 BPL 5 Gallon Full Automatic Water Production Line......",
    time: "2018-10-05"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/2-3.jpg",
    id: 63,
    title: "water bottle machine",
    desc:
      "Water Bottling Machine Description:Automatic water bottling machine,  mineral water bottling machine.......",
    time: "2018-10-05"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/3-3.jpg",
    id: 65,
    title: "PET bottle water filling machine",
    desc:
      "PET Glass bottle Water Rinser Filler Capper Filling Machine, our PET bottle water filling machine can be used to fill pure water, mineral water and drinking water. PET bottle sizes can range from 300ml to 1500ml.......",
    time: "2018-10-05"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/4-1.jpg",
    id: 70,
    title: "small water filling machine",
    desc:
      "Small Production processing line of Mineral water filling machine(3000-4000BPH)......",
    time: "2018-10-05"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/5-3.jpg",
    id: 74,
    title: "Juice filling equipment",
    desc:
      "Juice Filling Equipment DescriptionJuice(Tea) is a liquid (drink) that is naturally contained in fruit and vegetables...... ",
    time: "2018-10-05"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/6-1.jpg",
    id: 76,
    title: "small juice filling machine",
    desc: `RCGF series of Juice hot filling 3-in-1unit is introduced advanced foreign technology such as washing, filling, capping technology......`,
    time: "2018-10-05"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/7-3.jpg",
    id: 78,
    title: "Automatic Juice Making Machine",
    desc: `The machine has compact structure, complete control system, easy operation and high degree of automation......`,
    time: "2018-10-05"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/10-1-1.jpg",
    id: 84,
    title: "bottled juice filling machine",
    desc: `According to new conception of glass bottle beer package process requirement, BEIERDE Co,LTD designed and manufactured the lasted glass bottle beer filling machine......`,
    time: "2018-10-05"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/12-1.jpg",
    id: 88,
    title: "tea drink filling machine",
    desc: `Tea fillers set automatic cleaning, filling and capping 3 in 1, tea beverage filling machine is the introduction of German technology digestion and absorption......`,
    time: "2018-10-05"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/9-1.jpg",
    id: 82,
    title: "bottle carbonated drink filling machine",
    desc: `Coca-cola, Fenta, Red Bull Energy Drink Tin Can Filling Seaming Machinery usually works with other line rinsing machine......`,
    time: "2018-10-05"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/10-1-1.jpg",
    id: 82,
    title: "beer filling machine",
    desc: `According to new conception of glass bottle beer package process requirement, BEIERDE Co,LTD designed and manufactured the lasted ......`,
    time: "2018-10-05"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/11-1.jpg",
    id: 86,
    title: "Automatic small beer filling and sealing machine",
    desc: `Beer Filling and Capping 2-In-1 Machine is used for filli ng and sealing various kind of glass bottle with crown type bottle cap for beer filling production line......`,
    time: "2018-10-05"
  }
];
export default {
  data() {
    return {
      list: list
    };
  },
  components: {
    MyNav
  }
};
</script>

<style scoped>
.wrap {
  display: flex;
  margin: 0 auto;
  padding: 2%;
  max-width: 1120px;
  padding-left: 2em;
  padding-right: 2em;
  background: #fff;
}

.top {
  cursor: pointer;
  display: block;
  text-align: right;
  /* flex-direction: row-reverse; */
  font-size: 12px;
  color: #666;
  line-height: 30px;
  padding: 10px 0;
  border-bottom: 1px solid #f3f3f3;
}

.content {
  width: 76%;
  padding: 2%;
}
.item {
  cursor: pointer;
  display: flex;
  font-size: 13px;
  line-height: 20px;
  color: #999;
  border-bottom: 1px solid #eee;
  width: 96%;
  padding: 2%;
  text-overflow: ellipsis;
}

.image {
  width: 150px;
  height: 90px;
  /* margin-right: 20px; */
  padding: 10px;
}

.title {
  font-size: 16px;
  color: #333;
  line-height: 30px;
  font-weight: normal;
}

.desc {
  overflow: hidden;
  display: block;
}

.time {
  background: url("../assets/icon_time.png") left center no-repeat;
  padding-left: 18px;
  font-size: 12px;
  line-height: 30px;
  color: #ccc;
}

@media screen and (max-width: 860px) {
  .wrap {
    flex-direction: column-reverse;
  }
  .content {
    width: 100%;
  }
  .item {
    border: 1px solid #eee;
  }
}

@media screen and (max-width: 460px) {
  .item {
    flex-direction: column;
  }
  .image {
    width: 96%;
    height: 150px;
  }
}
</style>
