<template>
    <div class="solution-wrap">
        <div class="tc" style="font-size:18px">PRODUCT</div>
        <div class="person-wrap">
            <router-link :to="{path:`/product/${item.id}`}" class="person-item" v-for="(item,index) in personImg" :key="index">
                <div class="item-wrap">
                    <img :src="item.url">
                </div>
                <div class="title">{{item.title}}</div>
            </router-link>
        </div>
    </div>
</template>



<script>
const personImg = [
  {
    id: 54,
    url: require("../assets/product-1.jpg"),
    title: "3-5 gallon water filling machine"
  },
  {
    id: 63,
    url: require("../assets/product-2.jpg"),
    title: "water bottle machine"
  },
  {
    id: 65,
    url: require("../assets/product-3.jpg"),
    title: "PET bottle water filling machine"
  },
  {
    id: 70,
    url: require("../assets/product-4.jpg"),
    title: "small water filling machine"
  },
  {
    id: 74,
    url: require("../assets/product-5.jpg"),
    title: "Juice filling equipment"
  },
  {
    id: 76,
    url: require("../assets/product-6.jpg"),
    title: "small juice filling machine"
  },
  {
    id: 78,
    url: require("../assets/product-7.jpg"),
    title: "Automatic Juice Making Machine"
  },
  {
    id: 80,
    url: require("../assets/product-8.jpg"),
    title: "bottled juice filling machine"
  },
  {
    id: 82,
    url: require("../assets/product-9.jpg"),
    title: "bottle carbonated drink filling machine"
  },
  {
    id: 84,
    url: require("../assets/product-10.jpg"),
    title: "beer filling machine"
  },
  {
    id: 86,
    url: require("../assets/product-11.jpg"),
    title: "Automatic small beer filling and sealing machine"
  },
  {
    id: 88,
    url: require("../assets/product-12.jpg"),
    title: "tea drink filling machine"
  }
];
export default {
  data() {
    return {
      personImg
    };
  }
};
</script>

<style scoped>
.solution-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 110px 0 50px 0;
}
.person-wrap {
  display: flex;
  flex-wrap: wrap;
}

.person-item {
  cursor: pointer;
  width: 28%;
  margin-right: 2%;
  margin-left: 2%;
}

.title {
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  font-family: Arial;
  color: #666;
}

.item-wrap {
  text-align: center;
  width: 96%;
  padding: 2%;
  border: 1px solid #dbdbdb;
}

@media screen and (max-width: 860px) {
  .person-item {
    margin: 0;
    padding: 0;
    width: 46%;
    height: auto;
    margin-right: 2%;
    margin-left: 2%;
  }
}

@media screen and (max-width: 540px) {
  .person-item {
    margin: 0;
    padding: 0;
    width: 96%;
    height: auto;
    margin-right: 2%;
    margin-left: 2%;
  }
}
</style>
