<template>
  <div class="wrap">
    <my-nav></my-nav>
    <div class="content">
        <div class="top">
            You are here: <router-link tag="span" to="/" class="step">Home</router-link> » <router-link tag="span" to="/solution" class="step">Solution</router-link>
        </div>
        <router-link  tag="div" :to="{path:`/solution/${item.id}`}"  class="item" v-for="(item,index) in list" :key="index">
             <img class="image" :src='item.img'>
                <div>
                    <div class="title">{{item.title}}</div>
                    <div class="desc">{{item.desc}}</div>
                    <div class="time">Time:{{item.time}}</div>
                </div>
        </router-link>
    </div>
  </div>
</template>

<script>
import MyNav from "./nav";
import MyArticle from "./article";
const list = [
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/Juice1.jpg",
    id: 132,
    title: "Juice Filling Line",
    desc:
      "ASG is the Juice filling line manufaturers and suppliers,we provide the best price of Juice filling line and Juice filling machine......",
    time: "2018-10-07"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/dw1.jpg",
    id: 129,
    title: "Bottled Water Filling Machine",
    desc:
      "ASG is the filling machine manufaturers and suppliers,we provide a wide range of bottled water filling machine,automatic bottled water filling machine,bottled filling machine,water filling machine......",
    time: "2018-10-07"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/bf1.jpg",
    id: 118,
    title: "Beer filling machine",
    desc:
      "Beer is the humanity’s oldest alcoholic beverage, in the world’s third-ranked beveragesafter water and tea consumption......",
    time: "2018-10-07"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/as1.jpg",
    id: 115,
    title: "After-sale service",
    desc:
      "To cope with problems that may arise at any time, we provide service specialists 7 days a week, 24 hours a day service. If you have any questions, please call us......",
    time: "2018-10-07"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/ec1.jpg",
    id: 107,
    title: "Engineering case",
    desc:
      "ASG and nestle, Coca-Cola, Pepsi, bright dairy, robust, golden arowana, lens group, gagarin, tianjin, Shanghai YanZhong at the South Pole, tianjin huaqi group and other well-known domestic enterprises established long-term...... ",
    time: "2018-10-07"
  },
  {
    img: "http://207.148.115.180:8080/wp-content/uploads/2018/10/sp1.jpg",
    id: 104,
    title: "Strategic partner",
    desc: `Coca-Cola Company (Coca-Cola Company) was founded in 1892 and headquartered in Atlanta, United States Gioia, the world’s largest beverage company,
       has ranked first in the global market share of 48% of the world’s top......`,
    time: "2018-10-07"
  }
];
export default {
  data() {
    return {
      list: list
    };
  },
  mounted() {
    const script = document.createElement("script");
    script.src =
      "https://s95.cnzz.com/z_stat.php?id=1111111111&web_id=1111111111";
    script.language = "JavaScript";
    document.body.appendChild(script);
  },
  watch: {
    $route() {
      if (window._czc) {
        let location = window.location;
        let contentUrl = location.pathname + location.hash;
        let refererUrl = "/";
        window._czc.push(["_trackPageview", contentUrl, refererUrl]);
      }
    }
  },
  components: {
    MyNav
  }
};
</script>

<style scoped>
.wrap {
  display: flex;
  margin: 0 auto;
  padding: 2%;
  max-width: 1120px;
  padding-left: 2em;
  padding-right: 2em;
  background: #fff;
}

.top {
  cursor: pointer;
  display: block;
  text-align: right;
  /* flex-direction: row-reverse; */
  font-size: 12px;
  color: #666;
  line-height: 30px;
  padding: 10px 0;
  border-bottom: 1px solid #f3f3f3;
}

.content {
  width: 76%;
  padding: 2%;
}
.item {
  cursor: pointer;
  display: flex;
  font-size: 13px;
  line-height: 20px;
  color: #999;
  border-bottom: 1px solid #eee;
  width: 96%;
  padding: 2%;
  text-overflow: ellipsis;
}

.image {
  width: 150px;
  height: 90px;
  /* margin-right: 20px; */
  padding: 10px;
}

.title {
  font-size: 16px;
  color: #333;
  line-height: 30px;
  font-weight: normal;
}

.desc {
  overflow: hidden;
  display: block;
}

.time {
  background: url("../assets/icon_time.png") left center no-repeat;
  padding-left: 18px;
  font-size: 12px;
  line-height: 30px;
  color: #ccc;
}

@media screen and (max-width: 860px) {
  .wrap {
    flex-direction: column-reverse;
  }
  .content {
    width: 100%;
  }
  .item {
    border: 1px solid #eee;
  }
}

@media screen and (max-width: 460px) {
  .item {
    flex-direction: column;
  }
  .image {
    width: 96%;
    height: 150px;
  }
}
</style>
