<template>
  <div id="app">
    <my-header></my-header>
    <router-view></router-view>
    <my-footer></my-footer>
    <my-contact></my-contact>
  </div>
</template>

<script>
import MyContact from './components/MyContact';
import MyHeader from "./components/MyHeader";
import MyFooter from "./components/MyFooter";
export default {
  name: "app",
  components: {
    MyHeader,
    MyFooter,
    MyContact
  },
  created() {
    // IE版本10及以下
    if(document.all) {
      this.$router.push({path:'/ie'})
    }
  }
};
</script>


<style>
* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.8 Arial, sans-serif;
  margin: 0 auto;
  color: #525252;
  background-color: #fff;
}

#app {
  color: #2c3e50;
}

.flexs {
  display: flex;
}

.flexac {
  display: flex;
  align-items: center;
}

.tc {
  text-align: center;
}
</style>