<template>
    <div class="waring">您的IE浏览器版本太低存在安全风险，已被本站禁止，请升级IE版本或使用其他浏览器。</div>
</template>

<script>
export default {
  mounted() {
    document.getElementsByClassName("header-wrap")[0].style.display = "none";
    document.getElementsByClassName("footer")[0].style.display = "none";
  }
};
</script>


<style scoped>
.waring {
    font-size: 200%;
    text-align: center;
    padding: 50px;
}
</style>
